* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}
header{
    background-color: #AF7AB3;
    height: 300px;
    color: #D6EFED;
    font-size: 25px;
    text-align: center;
}
header h1{
    padding-top: 80px;
}
button{
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #F2D7D9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:hover {background-color: #B7D3DF}

button:active {
  background-color: #C4D7E0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
section{
    background-color: #6E85B7;
    
}
.deskripsi {
    text-align: center;
    padding-top: 30px;
}
.deskripsi h2 {
    font-size: 50px;
}
.deskripsi p {
    font-size: 20px;
}
.hobby h2{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}
.hobby1{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    background-color: #C4D7E0;
    margin: 10px 10px;
    
}
.card h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.message {
    text-align: center;
}
.message h3 {
    font-size: 30px;
}
input[type="text"], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 10px;
}
input[type="submit"] {
    width: 50%;
    padding: 9px;
    margin-bottom: 10px;
    color: white;
    background-color: #CBA0AE;
    box-shadow: 0px 2px 2px black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #80558C;
    color: white;
    height: 30px;
}
@media only screen and (max-width: 652px ){
    header{
        font-size: 10px;
    }
    button{
        padding: 10px;
    }
    .deskripsi p{
        margin: 10px;
    }
    .hobby1 {
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
        height: 220px;
    }
    .card h3 {
        font-size: 20px;
    }
    .card p{
        font-size: small;
    }
}