*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.mybio {
    background-color: #C9BBCF;
}
.bio {
    padding-top: 50px;
    font-size: 30px;
}
.contact {
    background-color: #CDF0EA;
    padding-bottom: 50px;
}
.footer{
    line-height: 50px;
    margin-bottom: 0;
}